.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 1.35rem;
    margin: 0 1rem;
    cursor: pointer;
    user-select: none;
}

.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #ff8c1a;
    box-shadow: inset 0px 0px 1px 0.5px #424242;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: opacity 0.36s cubic-bezier(0, 0, 1, 1);
}

.text-show {
    opacity: 1;
}

.text-hidden {
    opacity: 0;
}

.switch-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    width: 1.4rem;
    height: 1.1rem;
    border-radius: 2px;
    background-color: #e5f0ff;
    transition: left 0.36s cubic-bezier(0, 0, 1, 1);
}

.switch-left {
    left: -15px;
}

.switch-right {
    left: 15px;
}
