.logo {
    height: 1.6rem;
    vertical-align: middle;
}

.toast {
    top: 3em;
    right: -0.6em;
    background: #4d97ff;
    color: #fff;
    font-size: 0.8rem;
}

.toast-body {
    width: 285px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
}
