.modal-content {
    width: 500px;
}

.about-body {
    background: #ffffff;
    padding: 1.5rem 2.25rem;
    text-indent: 1.8rem;
}

.des-body {
    background: #ffffff;
    padding: 1.5rem 2.25rem;
}
